[submodule "gml"]
	path = gml
	url = https://github.com/ilmola/gml.git
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "apf"]
	path = apf
	url = https://github.com/AudioProcessingFramework/apf.git
