ssr_scene_autosave.asd
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autotools/
compile_commands.json
config.log
config.status
configure
configure.orig
data/MacOSX/DMG-Layout.applescript
data/MacOSX/Info.plist
data/MacOSX/Makefile
data/MacOSX/Makefile.in
data/MacOSX/dylibbundler/src/.deps/
data/Makefile
data/Makefile.in
data/ssr-aap
data/ssr-binaural
data/ssr-brs
data/ssr-generic
data/ssr-nfc-hoa
data/ssr-vbap
data/ssr-wfs
doc/*.pdf
doc/doxygen/
doc/manual/_build/
libtool
man/
src/.deps/
src/Makefile
src/Makefile.in
src/config.h*
src/gui/.deps/
src/gui/.dirstamp
src/gui/*.o
src/gui/*_moc.cpp
src/network/.deps/
src/network/.dirstamp
src/network/*.o
src/razor-ahrs/.deps/
src/razor-ahrs/.dirstamp
src/razor-ahrs/RazorAHRS.o
src/ssr-aap
src/ssr-binaural
src/ssr-brs
src/ssr-generic
src/ssr-nfc-hoa
src/ssr-vbap
src/ssr-wfs
src/*.o
src/stamp-h1
ssr-qt4.patch
tags
