# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  tarball:
    docker:
      - image: texlive/texlive

    working_directory: ~/checkout

    environment:
      PIP_INSTALL: python -m pip install --progress-bar off --upgrade
      CONFIGURE_FLAGS: --disable-ecasound --disable-dynamic-asdf --disable-gui --disable-ip-interface --disable-websocket-interface --disable-fudi-interface --enable-browser-gui

    steps:
      - checkout

      - run:
          name: Checkout Submodules
          command: |
            git submodule update --init

      - run:
          name: Set $PATH (for Python entry points)
          command: |
            echo 'export PATH=~/.local/bin:$PATH' >> $BASH_ENV

      - run:
          name: Installing apt Packages
          command: |
            curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | gpg --dearmor | tee /etc/apt/trusted.gpg.d/yarn.gpg
            echo "deb [signed-by=/etc/apt/trusted.gpg.d/yarn.gpg] https://dl.yarnpkg.com/debian/ stable main" | tee /etc/apt/sources.list.d/yarn.list
            apt-get update
            apt-get install -y --no-install-recommends \
              automake \
              binutils \
              build-essential \
              help2man \
              libfftw3-dev \
              libjack-jackd2-dev \
              libsndfile1-dev \
              libxml2-dev \
              nodejs \
              pkg-config \
              python3-venv \
              yarn

      - run:
          name: Installing Python Packages
          command: |
            python3 -m venv .venv
            source .venv/bin/activate
            $PIP_INSTALL -r doc/manual/requirements.txt

      - run:
          name: Configuring SSR
          command: |
            ./autogen.sh
            ./configure $CONFIGURE_FLAGS

      - store_artifacts:
          name: Uploading config.log
          path: config.log
          destination: config.log

      - run:
          name: Building the SSR
          command: |
            make

      - store_artifacts:
          name: Uploading Browser GUI files
          path: data/websocket_resources
          destination: browser-gui

      - run:
          name: Building HTML Manual
          command: |
            source .venv/bin/activate
            cd doc/manual
            make html -W --keep-going

      - run:
          name: Building PDF Manual
          command: |
            source .venv/bin/activate
            cd doc/manual
            make latexpdf

      # NB: The PDF manual must be built before creating the tarball!
      - run:
          name: Creating tarball
          command: |
            make distcheck DISTCHECK_CONFIGURE_FLAGS="$CONFIGURE_FLAGS"
            mkdir ~/tarball
            # There is only one file, but we don't know the version number:
            for tarball in ssr-*.tar.gz
            do
              sha256sum $tarball > ~/tarball/${tarball%.tar.gz}.sha256
              mv $tarball ~/tarball
            done

      - store_artifacts:
          name: Uploading tarball and its SHA256 hash
          path: ~/tarball
          destination: .

      - store_artifacts:
          name: Uploading HTML Manual
          path: doc/manual/_build/html
          destination: manual

      - store_artifacts:
          name: Uploading PDF Manual
          path: doc/manual/_build/latex/SoundScapeRenderer.pdf
          destination: SoundScapeRenderer.pdf

      - run:
          name: Check for broken links in User Manual
          command: |
            source .venv/bin/activate
            cd doc/manual
            make linkcheck -W --keep-going

      - store_artifacts:
          name: Uploading linkcheck results
          path: doc/manual/_build/linkcheck
          destination: linkcheck

workflows:
  version: 2
  build:
    jobs:
      - tarball
